body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
   background-color: antiquewhite;
   /* background: linear-gradient(to right, #c36b78, #14aad7);  */
   text-align: center;
   }
   .container {
   max-width: 600px;
   margin: 50px auto;
   padding: 20px;
   background: white;
   }
   input {
   width: 70%;
   padding: 10px;
   }
   button {
   padding: 10px;
   background-color: #007bff;
   color: white;`
   cursor: pointer;
   }
   button:hover {
   background-color: #0056b3;
   }